{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" href="{{ base_path }}/images/favicon.ico" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/android-chrome-192x192.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon.png">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
